[submodule ".vim/bundle/tagbar.git"]
	path = .vim/bundle/tagbar.git
	url = https://github.com/majutsushi/tagbar.git
[submodule ".vim/bundle/supertab.git"]
	path = .vim/bundle/supertab.git
	url = https://github.com/ervandew/supertab.git
[submodule ".vim/bundle/vim-pathogen.git"]
	path = .vim/bundle/vim-pathogen.git
	url = https://github.com/tpope/vim-pathogen.git
[submodule ".vim/bundle/nerdcommenter.git"]
	path = .vim/bundle/nerdcommenter.git
	url = https://github.com/scrooloose/nerdcommenter.git
[submodule ".vim/bundle/ultisnips.git"]
	path = .vim/bundle/ultisnips.git
	url = https://github.com/SirVer/ultisnips.git
[submodule ".vim/bundle/authorinfo.git"]
	path = .vim/bundle/authorinfo.git
	url = https://github.com/iyf/AuthorInfo.git
[submodule ".vim/bundle/vim-colors-solarized.git"]
	path = .vim/bundle/vim-colors-solarized.git
	url = https://github.com/altercation/vim-colors-solarized.git
[submodule ".vim/bundle/vim-css-color.git"]
	path = .vim/bundle/vim-css-color.git
	url = https://github.com/ap/vim-css-color.git
